* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.cards {
    margin: 0 auto;
}

.card {        
    width: 200px;    
    opacity: 0;
    transform-property: opacity, transform;
    transform-origin: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card img {
    width: 100%;    
}